@import "../../global.scss";

.contact{
    background-color: rgb(236, 246, 247);
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;

        @include mobile {
            flex: 0.35;
        }

        img {
            @include mobile {
                width: 80%;
                padding-left: 10%;
            }
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex: 0.65;
        }

        h2 {
            font-size: 40px;
            padding-bottom: 40px;

            @include mobile {
                font-size: 30px;
                padding-bottom: 30px;
            }
        }

        form {
            width: 70%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input {
                width: 300px;
                height: 25px;
                padding: 8px;
                font-size: 14px;
                border: 1px solid;
                border-color: rgb(193, 198, 199);

                @include mobile {
                    width: 220px;
                }
            }

            textarea {
                width: 300px;
                height: 150px;
                padding: 8px;
                font-size: 14px;
                border: 1px solid;
                border-color: rgb(193, 198, 199);

                @include mobile {
                    width: 220px;
                    height: 80px;
                }
            }

            button {
                width: 200px;
                height: 40px;
                padding: 8px;
                color: white;
                background-color: rgb(245, 80, 30);
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
        }

        span {
            color: green;
        }
    }
}