@import "../../global.scss";

.slider {
    position: relative;
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;

    a:link, a:visited, a:hover, a:active { 
        text-decoration: none; 
    }

    @include mobile {
        width: 100vw;
    }

    .arrow {
        position: absolute;
        top: 50%;
        font-size: 3rem;
        color: #000;
        z-index: 2;
        cursor: pointer;
        user-select: none;
    }

    .left-arrow {
        left: 32px;

        @include mobile {
            left: 5px;
        }
    }

    .right-arrow {
        right: 32px;

        @include mobile {
            right: 5px;
        }
    }
}