@import "../../global.scss";

.intro{
    background-color: $mainBgColor;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            height: 100%;
            width: 50vw;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img{
                height: 95%;
                object-fit: cover;
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0px;

                @include mobile{
                    font-size: 40px;
                }
            }

            h2 {
                font-size: 35px;

                @include mobile{
                    font-size: 25px;
                }
            }

            h3 {
                font-size: 30px;

                @include mobile{
                    font-size: 20px;
                    padding-bottom: 60px;
                }

                span {
                    font-size: inherit;
                    color: rgb(117, 235, 117);
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        a {
            position: absolute;
            bottom: 10px;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
        }

        .downarrow {
            height: 100px;
            width: 100px;
            -webkit-animation: action 1s infinite  alternate;
            animation: action 1s infinite  alternate;
        }

        @-webkit-keyframes action {
            0% { transform: translateY(0); }
            100% { transform: translateY(-15px); }
        }
        @keyframes action {
            0% { transform: translateY(0); }
            100% { transform: translateY(-15px); }
        }
    }
}